main {
    font-family: var(--brand-font);
}

.lookingthrough {
    display: block;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

    &__h5 {
        color: var(--azulclaro);
        font-size: 16px;
    }

    &__title {
        font-family: var(--title-font);
        font-size: 30px;
        padding-top: 10px;
    }

    &__text {
        opacity: 60%;
        font-size: 18px;
        line-height: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__button {
        width: 80px;
        font-family: var(--brand-font);
        font-size: 20px;
        color: var(--naranja);
        background-color: white;
        padding: 10px;
        border-color: var(--naranja);
        border-radius: 50px;
    }
}

.purchase {
    background-color: var(--iceblue);
    padding-left: 20px;
    padding-right: 20px;

    &__title {
        font-family: var(--title-font);
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
    }

    &__list {
        list-style: none;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 80px;
        padding-right: 80px;

        &--title {
            font-family: var(--title-font);
            font-size: 18px;
        }

        &--text {
            font-size: 18px;
            line-height: 1.8;
            padding-top: 5px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;

        &--more {
            background-color: var(--naranja);
            width: 200px;
            border-radius: 100px;
            color: white;
            font-size: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 0px;
        }
    }

}