<footer class="footer">

    <img class="startscrollicon" src="./images/ico-arrow.svg" alt="Icono para ir a Inicio">

    <nav class="">
        <ul class="">
            <li><a href="" class=" ">ARTICLES</a></li>
            <li><a href="" class=" ">BOOKS</a></li>
            <li><a href="" class=" ">EVENTS</a></li>
            <li><a href="" class=" ">REASONS</a></li>
            <li><a href="" class=" ">TIPS</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="" class=" ">TWITTER</a></li>
            <li><a href="" class=" ">INSTAGRAM</a></li>
            <li><a href="" class=" ">MASTODON.SOCIAL</a></li>
        </ul>
    </nav>

    <p>©2022</p>

    <p>we <!-- ICONOCORAZÓN --> elements</p>

</footer>